*{
    margin: 0;
    padding: 0;
    
}
body{
    background:url(images/credentials.jpg) no-repeat center center fixed;
    background-size:cover;
    
}
/* Login page layout */
.account-container{
width: 100vw;
height: 100vh;
background-image: linear-gradient(to left, rgba(255, 176, 235, 0.5), rgba(0, 0, 0, 0.8));
color: white;
position: relative;
}
.container{
    margin: 8rem auto;
    position: absolute;
    left: 15%;
  
}

.container h1{
    display: inline-block;
    font-size: 2rem;
    border-bottom: 0.3rem solid purple;
    margin-bottom: 2.5rem;
    padding: 0.8rem 0;
}
.container .box{
    width: 100%;
    padding: 0 0.2rem ;
    text-align: center;
    border-bottom: 0.1rem solid purple;
    margin: 32px 0px;
}
.container .box input{
    text-align: left;
    color: white;
    background: none;
    font-size: 1.3rem;
    padding: 5px 10px;
    border:none;
    outline: none;

} 
.container .btn{
    margin-top: 1rem;
    cursor: pointer;
    outline: none;
    width: 35%;
    font-size: 1rem;
    background: none;
    color: black;
    padding: 0.6rem 1.2rem;
    border: 3px solid purple ;
    border-radius: 1.2rem;
    background-image:linear-gradient(to left, rgba(255, 189, 189, 0.8),rgba(168, 116, 171, 0.8));
}
.container .btn:hover{
    color: white;   
}

 .logo {
    position: absolute;
    left:1%;    height: 12rem;
    width: 12rem;
}


